objs/
runs/
*/*.stl
*/*.gcode
*/*/*.stl
*/*/*.gcode

#'Raw' image
*/pics/*.JPG
*/pics/*.PNG
*/pics/shot*.png


.#*
*/.#*
*/*/.#*
*/*/*/.#*
*/old/
# Possibly add these later
cooler/
old/

*/readme.html
*/*/readme.html
*/*/*/readme.html

*/output/
*/*/output/
*/*/*/output/

*/pics/pics/
*/pics/cat?/
*/*/pics/pics/
*/*/pics/cat?/