objs/
runs/
**/*.stl
**/*.gcode

#'Raw' image
**/pics/*.JPG
**/pics/*.PNG
**/pics/shot*.png
**/pics/cat?/

**.#*
# Possibly add these later
cooler/
old/

**/readme.html
**/output/
**/tso

**/index.html
